@charset "utf-8";
p{
	font-family:verdana;
}
h1{
	font-family:verdana;
	color:#2f88db;
	font-weight:bold;
}
h2{
	font-family:verdana;
	color:#cc3399;
}
.header{
	background-color: #2f80db;
}
.logo img{
	height:200px;
	width:200px;
}
.header li{
	display:inline-block;
}
.header h1{
	font-family: verdana;
	position:relative;
	top:10px;
	color:#ffffff;
}
.header a{
	color:#ffffff;
	background-color: #2f80db;
	padding:5px;
	margin-left:1px;
	border:none;
}
.header input{
	color:#2f88db;
	border:none;
	padding:5px;
	margin-left:5px;
	background-color:#ffffff;
	border-radius:5px;	
}
.footer{
	background-color: #2f80db;
	color:#ffffff;
	text-align:center;
	padding:10px;
}
.footer li{
	display: inline;
	padding:5px;
	margin: 10px;
}
.footer a{
	color:#ffffff;
}

.register{
	background-color:#2f80db;
	color:#ffffff;
	opacity:0.8;
	border-radius:20px;
	position:relative;
	margin:20px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	width:400px;
	text-align:center;
}

.register input{
	background-color:#2f80db;
	color:#0f3457;
	font-weight:bold;
	border:1px solid #ffffff;
	border-radius:10px;
	padding:3px;
	margin-top:5px;
	margin-right:auto;
	margin-left:auto;
	transition: background-color 1s;
}
.register input:hover{
	background-color:#ffffff;
}
.register input[type=submit]{
	background-color:#2f88db;
	background-image:url("glyphicons/png/glyphicons-207-ok.png");
	width:25px;
	height:25px;
	padding:3px;
	background-repeat:no-repeat;
	border:none;
}
.about{
	color:#080808;
	position:relative;
	opacity:0.9;
	border-radius:20px;
}
.about img{
	height:200px;
	width:200px;
}
.about li{
	display:inline-block;
}
.about span{
	color:#2f88db;
}
.jumbotron{
	background-image: url("imgs/banner2.jpg");
	background-size:100%;
}
.jumbotron span{
	font-weight:bold;
}

.greeting{
	background-color: #2f88db;
	margin:10px;
	padding:10px;
	opacity: 0.9;
	border-radius:10px;
	width:300px;
}
.body{
	color:#808283;
	padding:20px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:100px;
	margin-right:100px;
	border-radius:10px;
}
.body h2{
	font-weight:bold;
	color:#cc3300;
}
.body:hover{
	box-shadow: 0 4px 10px -4px black;
}
